<tr>
  <td>
    <%= image_tag get_product(line_item.product_id).image.tiny %>
  </td>
  <td>
    <%= get_product(line_item.product_id).name %>
  </td>
  <td>
    <%= get_product(line_item.product_id).description %>
  </td>
  <td>
    <%= line_item.quantity %>
  </td>
    <td>
    $ <%= line_item.total_price_cents / 100 %>
  </td>
</tr>